<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>California Hotels</h1>
  <ul>
      {{range .}}
      <li>
        <h2>{{.Region}} Region</h2>
        <ol>
          {{range .Hotels}}
            <li><h3>{{.Name}}</h3></li>
            {{.Address}}, {{.City}} {{.Zip}}
          {{end}}
        </ol>
      </li>
      {{end}}
  </ul>

</body>
</html>
